<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Solar System</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<section id="page"> <!-- Defining the #page section with the section tag -->

    <header> <!-- Defining the header section of the page with the appropriate tag -->

        <h1>Solar System</h1>
        <h3>The most interesting planets</h3>

        <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/form" onclick="f()">Admin</a></li>
            </ul>
        </nav>

    </header>

    <section id="articles"> <!-- A new section with the articles -->

        <article>

            <form name="myform" method="Post" onsubmit="return formSubmit()">
                <!--<div style="margin: 10px 0"><label >First name</label></div>-->
                <p>First name</p>
                <input id="title" placeholder="First name" type="text" name="name"
                       style="width: 100%; background-color: rgba(1, 1, 1, 0); border: 1px solid white; border-radius: 3px; height: 30px;
box-sizing: border-box; padding-left: 20px">
                <label>Last name</label>
                <input id="lastName" placeholder="Last name" type="text" name="name"><br />
                <label>Email</label>
                <input id="file" type="file" name="email"><br />


                <br /><br />
                <input type="submit" value="Submit">
                <p id="errors"></p>
            </form>

        </article>

    </section>

</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<% { %>
<script>
    var title = '<%= title %>'
</script>
<script src="/javascripts/formFront.js"></script>
<% } %>


</body>
</html>