<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Solar System</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<section id="page"> <!-- Defining the #page section with the section tag -->

    <header> <!-- Defining the header section of the page with the appropriate tag -->

        <h1>Solar System</h1>
        <h3>The most interesting planets</h3>

        <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/form">Admin</a></li>
            </ul>
        </nav>

    </header>

    <section id="articles"> <!-- A new section with the articles -->

        <article>

            <form name="myform" method="Post" onsubmit="return formSubmit()">
                <!--<div style="margin: 10px 0"><label >First name</label></div>-->
                <p>Title</p>
                <input id="title" placeholder="Title" type="text" name="name"
                       style="">
                <p>Description</p>
                <textarea id="description" placeholder="Description" type="text" name="name" style="height: 100px"></textarea>
                <p>Image</p>
                <input id="file" type="file" name="email">

                <input type="submit" value="Submit" style="border: none; background-color: #0196e3">
                <p id="errors" style="font-weight: bold; color: red"></p>
            </form>



        </article>

        <article>
            <form name="myform" method="Post" onsubmit="">
                <!--<div style="margin: 10px 0"><label >First name</label></div>-->
                <p>Email</p>
                <input id="email" placeholder="Email" type="email">
                <p>Password</p>
                <input id="password" placeholder="Password" type="password">
                <input type="submit" value="Log in" style="border: none; background-color: #0196e3" onclick="return formSubmitAuth(true)">
                <input type="submit" value="Register" style="border: none; background-color: #0196e3" onclick="return formSubmitAuth(false)">
                <p id="errorsAuth" style="font-weight: bold; color: red"></p>
            </form>
        </article>

    </section>

</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<% { %>
<script>
    let idGlob = '<%= id %>'
    let titleGlob = '<%= title %>'
    let descriptionGlob = '<%= description %>'
</script>
<script src="/javascripts/formFront.js"></script>
<% } %>


</body>
</html>